#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden; 
  outline: none;
}
#intro{
    padding: 0%;
    margin: 0%;
    text-align: justify;
    background-color: black;
}
#presentation{
  padding: 0%;
  margin: 0%;
  text-align: center;
  background-color: #FF33F0;
}
/*Footer*/

.pie-pag{
  width: 100%;
  background-color: #0a141d;
}
.pie-pag .g-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pag .g-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pag.g-1 .box figure img{
  width: 10px;
}

.pie-pag .g-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pag .g-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pag .g-1 .socia-media a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: transparent !important;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pag .g-1 .socia-media a:hover{
  color:aqua;
}

.pie-pag .g-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pag .g-2 small{
  font-size: 15px;
}


@media screen and (max-width:800px) {
  .pie-pag .g-1{
    width: 50%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

.pie-pag .g-2{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}